.active-scaffold-header div.actions a.print_list {
padding-left: 19px;
background-position: 1px 50%;
background-repeat: no-repeat;
}
.active-scaffold-header div.actions a.print_list {
background-image: url(../../../images/active_scaffold/default/printer.png);
}

